:root {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin: 1rem auto;
  width: 100%;
  border-top: 1px solid black;
}

.resume {
  margin: 2rem;
  padding: 1rem;
  background-color: whitesmoke;
}

img {
  width: 100px;
}

header {
  display: flex;
  gap: 3rem;
}

header > .focus {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

header > .focus > .image {
  margin-right: 10px;
}

header > .focus > .details > h2 {
  margin-bottom: 0;
  font-weight: bolder;
}

header > .focus > .details > p {
  margin-top: 0;
}

header > .contacts {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

header > .contacts > span {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  align-items: center;
}

header > .contacts > span > i {
  width: 30px;
  font-size: 1.3rem;
  text-align: center;
  height: 2rem;
}

section > h3 {
  margin: 0;
}

main {
  display: flex;
}

.bt {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1.5px solid black;
}

.lt {
  margin: 0 1rem;
  border-left: 1.5px solid black;
}

.sidebar {
  width: 30%;
}

.sidebar > p {
  text-align: justify;
}

li {
  margin: 1rem 0;
}

main > .right {
  width: 70%;
}

h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

li > p {
  width: 80%;
  text-align: justify;
}

.references > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.references > ul > li {
  width: 100%;
}

span > p {
  margin: 0.5rem 0;
}
